* {
    @media(max-width: 1440px) {
        flex-direction: column;
        position: relative;
    }
    box-sizing: border-box;
    font-family: 'Roboto',
    sans-serif;


}

:root {
    --primary: #168a25;
    --black: #000000;
    --blackLighter: #9E9E9E;
    --grayLight: #F5F5F5;
    --grayMedium: #e5e5e5;
    --white: #FFFFFF;
    --frontEnd: #6BD1FF;
    --backEnd: #00C86F;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
}